@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: black;
	color: white;

  font-family: 'Inter Variable', sans-serif;
	overflow-y: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.headerFont {
	font-family: "Dela Gothic One";
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 8px;
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #545454;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff00;
}
